{% extends 'review/base.html' %}
{% block main %}
{% load static %}
<main tabindex="-1" id="app-wrapper" class="appWrapper">
    <div class="page">
        <div class="terms__3O6oe" id="terms">
            <h3>About Films for Art</h3>
            <br>
            <ul class="termList__2rvco">
                <li class="termItem__CSvn9">
                    Films for art is a movie blogging website catering to movie lovers.
                    Our aim is to create a one stop destination for users to check out reviews about the latest movies and
                    shows from across the globe as well as get weekly recommendations which are carefully curated, belonging to different genres
                    to cater to the vast spectra of audience. We also provide a 'filter by genre' section so that a variety of
                    audience can comfortably find specific movies and shows. Viewers can also see the latest trailers of shows and movies
                    streaming on popular digital platforms.
                </li>
                <br/>
                <li class="termItem__CSvn9">
                   The page also consists of a knowledge section that contains detailed information about how film appreciation and
                    criticism works so that it makes for an interesting experience for the film enthusiasts.
                </li>
                <br/>
                <li class="termItem__CSvn9">
                    We are a small team consisting of hardworking and talented content writers, film experts, critics and
                    editors to make this page efficient and meaningful.
                    Abiding by our policy, we do not provide a rating system for our viewers because most of the times, cinema is subjective.
                    People's personal opinions and prejudices for particular actors or their dislike for a specific kind of content
                    can hamper the quality and transparency of a film review. However they can reach out to the admin of the page by contacting
                    on the mail provided below.

                </li>
                <br/>
                <li class="termItem__CSvn9">
                    It would mean a lot to us if you reached out to us with different suggestions, ideas, feedback,
                    or a request for a particular review. Please feel free to connect with us on abcd@gmail.com.

            </ul>
        </div>
    </div>
</main>
{% endblock %}