{% extends 'review/base.html' %}
{% block main %}
{% load static %}
<main tabindex="-1" id="app-wrapper" class="appWrapper">
    <div class="page">
        <div class="terms__3O6oe" id="terms">
            <h3>Terms of Service</h3>
            <br>
            <ul class="termList__2rvco">
                <li class="termItem__CSvn9">
                        Terms By accessing this Website, accessible from ffa.com, you are agreeing to be
                        bound by these Website Terms and Conditions of Use and agree that you are responsible
                        for the agreement with any applicable local laws. If you disagree with any of these
                        terms, you are prohibited from accessing this site. The materials contained in this
                        Website are protected by copyright and trade mark law.
                </li>
                <br/>
                <li class="termItem__CSvn9">Use License Permission is granted to temporarily download one copy of the
                    materials on
                    Films for Art Website for personal, non-commercial transitory viewing only. This is
                    the grant of a license, not a transfer of title, and under this license you may not:
                    modify or copy the materials; use the materials for any commercial purpose or for any
                    public display; attempt to reverse engineer any software contained on Films for Art
                    Website; remove any copyright or other proprietary notations from the materials; or
                    transferring the materials to another person or "mirror" the materials on any other
                    server. This will let Films for Art to terminate upon violations of any of these
                    restrictions. Upon termination, your viewing right will also be terminated and you
                    should destroy any downloaded materials in your possession whether it is printed or
                    electronic format.
                </li>
                <br/>
                <li class="termItem__CSvn9">
                    Disclaimer All the materials on Films for Art Website are provided “as
                    is”.
                    Films for Art makes no warranties, may it be expressed or implied, therefore
                    negates all other warranties. Furthermore, Films for Art does not make any
                    representations concerning the accuracy or reliability of the use of the materials on
                    its Website or otherwise relating to such materials or any sites linked to this Website.
                </li>
                <br/>
                <li class="termItem__CSvn9">Limitations Films for Art or its suppliers will not be held accountable
                    for any
                    damages that will arise with the use or inability to use the materials on Fake News
                    Buster Website, even if Films for Art or an authorized representative of this
                    Website has been notified, orally or written, of the possibility of such damage. Some
                    jurisdiction does not allow limitations on implied warranties or limitations of
                    liability for incidental damages, these limitations may not apply to you.
                </li>
                <br/>
                <li class="termItem__CSvn9">
                    Revisions and Errata The materials appearing on Films for Art Website may include
                    technical, typographical, or photographic errors. Films for Art will not promise
                    that any of the materials in this Website are accurate, complete, or current. Films for Art may
                    change the materials contained on its Website at any time without notice.
                    Films for Art does not make any commitment to update the materials.
                </li>
                <br/>
                <li class="termItem__CSvn9">
                    Links Films for Art has not reviewed all of the sites linked to its Website and is
                    not responsible for the contents of any such linked site. The presence of any link does
                    not imply endorsement by Films for Art of the site. The use of any linked website
                    is at the user's own risk.
                </li>
                <br/>
                <li class="termItem__CSvn9">Site Terms of Use Modifications Films for Art may revise these Terms of
                    Use for its
                    Website at any time without prior notice. By using this Website, you are agreeing to be
                    bound by the current version of these Terms and Conditions of Use.
                </li>
                <br/>
                <li class="termItem__CSvn9">Governing Law Any claim related to Films for Art Website shall be
                    governed by the
                    laws of India without regards to its conflict of law provisions.
                </li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}